.band {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 100;
  background-color: rgba(128, 128, 128, 0.5);
  z-index:2;
}

.band-text {
  position: relative;
  top: 10px; /* add space between top of band and text */
  left: 50%;
  color: bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translateX(-50%);
  text-align: center;
}

a {
  text-decoration: none;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 800px;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(23, 74, 77);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.button1-text,
.button2-text,
.button3-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 74, 77);

}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
  background-color: #00bcd4;
  cursor: pointer;
}

.button-container .button::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  font-weight: 400;
}

.button-container .button:hover::after {
  opacity: 1;
}


 /* Style the video background */
.video-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Style the video element */
  .video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* z-index: -1; */
  }


  @media (max-width: 768px) {
    /* adjust styles for screens with a max-width of 768px (common breakpoint for mobile devices) */
    
    .info-container {
    /* grid-template-columns: 1fr; */
    padding: 10px;
    }
    
    .column {
    width: 100%;
    justify-content: center;
    }
    
    .buttons-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .button {
    display: block;
    width: 100%;
    margin: 10px 0;
    }
    
    .video-bg video {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
    }
    }