* {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 80px;
  /* adjust this value as needed */
}


.button-container {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
padding: 10px;
}



